[submodule "signingservice"]
	path = signingservice
	url = git@asterix.cyberarmor.io:cyberarmor/signingservice.git
[submodule "jenkinstools"]
	path = jenkinstools
	url = git@asterix.cyberarmor.io:cyberarmor/jenkinstools.git
